*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color: #fff;
}

.heading-primary {
  color: #fff;
  line-height: 1.1;
  font-weight: inherit;
}
.heading-primary--main {
  font-size: 7rem;
}
.heading-primary--sub {
  font-size: 36px;
}
.heading-primary span {
  display: block;
}
.heading-primary--dark {
  color: #232946;
}

.heading-secondary {
  color: #fff;
  font-size: 5rem;
}
.heading-secondary--dark {
  color: #232946;
}

.heading-tertiary {
  color: #fff;
  font-size: 2rem;
}
.heading-tertiary--dark {
  color: #232946;
}

.paragraph {
  color: #b8c1ec;
  font-size: 1.5rem;
}
.paragraph--dark {
  color: #232946;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  padding: 1rem 2rem;
}
.btn-cta {
  color: #fffffe;
  font-size: 1.3rem;
  border: 1.5px solid #eebbc3;
  transition: all 0.2s;
}
.btn-cta:hover {
  background-color: #eebbc3;
  color: #232946;
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.2);
}
.btn-cta:active {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.1rem);
}

.tags {
  padding: 3px 6px;
  font-size: 1.4rem;
  border-radius: 2px;
  color: #fff;
  font-weight: 500;
}
.tags:not(:last-child) {
  margin-right: 1rem;
}
.tags--sass {
  background-color: #bf4080;
}
.tags--html {
  background-color: #f06529;
}
.tags--react {
  background-color: #61dafb;
}
.tags--redux {
  background-color: #593d88;
}
.tags--material-ui {
  background-color: #3399ff;
}

.card {
  background-color: #fffffe;
  border-radius: 2.5px;
  transition: all 0.4s;
}
.card__img {
  max-width: 100%;
  height: 32rem;
  border-radius: 2.5px;
}
.card__box {
  padding: 3rem 2rem;
}
.card__link {
  text-decoration: none;
  color: #fff;
}
.card__title {
  font-size: 3rem;
}
.card__description {
  color: #232946;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.card__tools {
  display: flex;
  flex-wrap: wrap;
}
.card:hover {
  transform: translateY(-0.7rem);
}

.about {
  background-color: #d4d8f0;
  padding: 8rem 4rem;
  grid-column: center-start/center-end;
}

.footer {
  grid-column: full-start/full-end;
  background-color: #d4d8f0;
  padding: 8rem 0;
  text-align: center;
}
.footer__nav {
  border-top: 1px solid #232946;
  padding-top: 2rem;
  display: inline-block;
}
.footer__list {
  list-style-type: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.4rem;
}
.footer__link:link, .footer__link:visited {
  color: #232946;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
  font-size: 1.6rem;
}
.footer__link:hover, .footer__link:active {
  color: #232946;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}

.container {
  background-color: #232946;
  display: grid;
  grid-template-rows: 100vh 40vw;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
.container > * {
  z-index: 10;
}

.header {
  grid-column: full-start/full-end;
}

.projects {
  grid-column: center-start/center-end;
}

.contact {
  grid-column: center-start/center-end;
}

.header {
  padding: 8rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content-box {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__content-box > * {
  z-index: 10;
}
.header #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader {
  background-color: #232946;
  min-width: 200px;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  cursor: pointer;
  transition: 0.3s linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-1 {
  width: 80px;
  height: 80px;
  border: 7px solid #fff;
  border-bottom-color: #232946;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

.show {
  opacity: 1;
  z-index: 999;
}

.hide {
  opacity: 0;
  transition: opacity 400ms;
  z-index: 1;
}

.nav {
  font-size: 2rem;
  color: #fffffe;
  padding: 2rem 6rem;
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  grid-column: full-start/full-end;
  transition: all 0.5s;
}
.nav__logo {
  font-size: 2rem;
  cursor: pointer;
}
.nav__list {
  list-style: none;
  display: flex;
}
.nav__link {
  text-decoration: none;
  color: inherit;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.2s;
}
.nav__link:hover {
  color: #fff;
}
.nav__background {
  background-color: #232946;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
  justify-content: center;
  gap: 4rem;
  padding: 8rem 0;
}
.projects > h2 {
  grid-column: 1/-1;
  margin-bottom: 3rem;
}

/*# sourceMappingURL=style.css.map */
