*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color: #fff;
}

.heading-primary {
  color: #fff;
  line-height: 1.1;
}
.heading-primary--main {
  font-size: 7rem;
  font-weight: 300;
  letter-spacing: 0.85rem;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    font-size: 5rem;
  }
}
.heading-primary--sub {
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 0.85rem;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
  }
}
.heading-primary span {
  display: block;
}
.heading-primary--dark {
  color: #232946;
}

.heading-secondary {
  color: #fff;
  font-size: 5rem;
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
.heading-secondary--dark {
  color: #232946;
}

.heading-tertiary {
  color: #fff;
  font-size: 2rem;
}
.heading-tertiary--dark {
  color: #232946;
}

.paragraph {
  color: #b8c1ec;
  font-size: 1.8rem;
}
@media only screen and (max-width: 37.5em) {
  .paragraph {
    font-size: 1.6rem;
  }
}
.paragraph--dark {
  color: #232946;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-smallest {
  margin-bottom: 1rem !important;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  padding: 1rem 2rem;
}
@media only screen and (max-width: 37.5em) {
  .btn, .btn:link, .btn:visited {
    padding: 0.5rem 1rem;
  }
}
.btn-cta {
  color: #fffffe;
  font-size: 1.3rem;
  border: 1.5px solid #eebbc3;
  transition: all 0.2s;
}
.btn-cta:hover {
  background-color: #eebbc3;
  color: #232946;
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.2);
}
.btn-cta:active {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.1rem);
}

.tags {
  padding: 3px 6px;
  font-size: 1.4rem;
  border-radius: 2px;
  color: #fff;
  font-weight: 500;
}
.tags:not(:last-child) {
  margin-right: 1rem;
}
.tags--sass {
  background-color: #bf4080;
}
.tags--html {
  background-color: #f06529;
}
.tags--react {
  background-color: #61dafb;
}
.tags--redux {
  background-color: #593d88;
}
.tags--material-ui {
  background-color: #3399ff;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem;
}
.card__side {
  height: 45rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fffffe;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
}
.card__picture--1 {
  background-image: url(../img/weather-app.png);
}
.card__picture--2 {
  background-image: url(../img/chef-secret.png);
}
.card__picture--3 {
  background-image: url(../img/edie-homepage.png);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 19rem;
  right: 2rem;
  width: 60%;
}
@media only screen and (max-width: 37.5em) {
  .card__heading {
    width: 85%;
    font-size: 2rem;
  }
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  color: #fffffe;
}
.card__heading-span--1 {
  background-color: rgba(35, 41, 70, 0.85);
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  width: 80%;
  margin-left: 4rem;
}
.card__details ul li {
  font-size: 1.8rem;
  color: #232946;
  padding: 0.5rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #fffffe;
}
.card__link, .card__link:visited, .card__link:link {
  color: #eebbc3;
}
.card__built {
  color: #232946;
  font-size: 1.8rem;
  font-weight: 500;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 2rem;
  justify-items: center;
}
@media only screen and (max-width: 37.5em) {
  .card__cta {
    gap: 0.5rem;
  }
}
.card__description {
  color: #fff;
  margin-bottom: 4rem;
  font-size: 2rem;
  grid-column: 1/-1;
}
@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 0.3rem;
    background-color: #d4d8f0;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details {
    padding: 1rem 3rem;
  }
}
@media only screen and (max-width: 56.25em) and (max-width: 37.5em), only screen and (hover: none) and (max-width: 37.5em) {
  .card__details {
    padding: 0.5rem;
  }
}
@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card__link, .card__link:visited, .card__link:link {
    color: #232946;
  }
}
@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card__cta {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
  }
}
@media only screen and (max-width: 56.25em) and (max-width: 37.5em), only screen and (hover: none) and (max-width: 37.5em) {
  .card__cta {
    padding: 1rem 0;
  }
}
@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card__description {
    color: #232946;
    margin-bottom: 4rem;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 56.25em) and (max-width: 37.5em), only screen and (hover: none) and (max-width: 37.5em) {
  .card__description {
    font-size: 1.6rem;
  }
}

.about {
  background-color: #d4d8f0;
  padding: 8rem 4rem;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .about {
    grid-column: full-start/full-end;
  }
}
@media only screen and (max-width: 37.5em) {
  .about {
    padding: 4rem 2rem;
  }
}
.about__text {
  grid-column: 1/4;
}
@media only screen and (max-width: 43.75em) {
  .about__text {
    grid-column: 1/-1;
  }
}
.about__list {
  font-size: 1.8rem;
  margin-left: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .about__list {
    font-size: 1.6rem;
  }
}
.about__item {
  color: #232946;
}
.about__item:not(:last-child) {
  margin-bottom: 1rem;
}
.about__picture {
  grid-column: 4/-1;
}
@media only screen and (max-width: 43.75em) {
  .about__picture {
    grid-column: 1/-1;
  }
}
.about__img {
  max-width: 100%;
  max-height: 100%;
  width: 30rem;
  height: auto;
}

.footer {
  grid-column: full-start/full-end;
  background-color: #d4d8f0;
  padding: 8rem 0;
  text-align: center;
}
.footer__nav {
  border-top: 1px solid #232946;
  padding-top: 2rem;
  display: inline-block;
}
.footer__list {
  list-style-type: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.4rem;
}
.footer__link:link, .footer__link:visited {
  color: #232946;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
  font-size: 1.6rem;
}
.footer__link:hover, .footer__link:active {
  color: #232946;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}

.container {
  background-color: #232946;
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
.container > * {
  z-index: 10;
}

.header {
  grid-column: full-start/full-end;
}

.contact {
  grid-column: center-start/center-end;
}

.header {
  padding: 8rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content-box {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__content-box > * {
  z-index: 10;
}
.header #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader {
  background-color: #232946;
  min-width: 200px;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  cursor: pointer;
  transition: 0.3s linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-1 {
  width: 80px;
  height: 80px;
  border: 7px solid #fff;
  border-bottom-color: #232946;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

.show {
  opacity: 1;
  z-index: 999;
}

.hide {
  opacity: 0;
  transition: opacity 400ms;
  z-index: 1;
}

.nav {
  font-size: 2rem;
  color: #fffffe;
  padding: 2rem 6rem;
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  grid-column: full-start/full-end;
  transition: all 0.5s;
}
.nav__logo {
  font-size: 2rem;
  cursor: pointer;
}
.nav__list {
  list-style: none;
  display: flex;
}
@media only screen and (max-width: 37.5em) {
  .nav__list {
    display: none;
  }
}
.nav__link {
  text-decoration: none;
  color: inherit;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.2s;
}
.nav__link:hover {
  color: #fff;
}
.nav__background {
  background-color: #232946;
}

.projects {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 450px));
  grid-template-rows: auto;
  justify-content: center;
  gap: 4rem;
  padding: 8rem 0;
}
@media only screen and (max-width: 37.5em) {
  .projects {
    padding: 6rem 0;
    grid-column: full-start/full-end;
    gap: 2rem;
  }
}
.projects > h2 {
  grid-column: 1/-1;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .projects > h2 {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
