$color-twitter: #243447;

$background-color: #382933;

$color-2: #3b5249; //dark green
$color-3: #519872; // light green
$color-4: #a4b494;
$color-5: #ff4c29;

$color-6: #301b3f;
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$nav-shadow: 4px 0 10px -3px $color-black;

$font-display: 'Arimo', sans-serif;
$default-font-size: 1.6rem;
