// color:

// primary
$color-primary: #232946;
$color-1: #eebbc3;
$color-2: #fffffe;
$color-3: #b8c1ec;

$color-secondary: #d4d8f0;

$color-white: #fff;
$color-black: #000;

// $color-grey-light-1: #f7f7f7;
// $color-grey-light-2: #eee;

// $nav-shadow: 4px 0 10px -3px $color-black;

$font-display: 'Poppins', sans-serif;
$default-font-size: 1.6rem;
