.container {
  background-color: $color-primary;

  display: grid;
  grid-template-rows: 100vh 40vw;
  // grid-template-columns:
  //   [sidenav-start] 7rem [sidenav-end full-start] minmax(6rem, 1fr) [center-start] repeat(
  //     8,
  //     [col-start] minmax(min-content, 14rem) [col-end]
  //   )
  //   [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];

  & > * {
    z-index: 10;
  }
}

.header {
  grid-column: full-start/ full-end;
}

.projects {
  grid-column: center-start/ center-end;
}
.contact {
  grid-column: center-start/ center-end;
}
