.loader {
  background-color: $color-primary;
  min-width: 200px;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  cursor: pointer;
  transition: 0.3s linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-1 {
  width: 80px;
  height: 80px;
  border: 7px solid #fff;
  border-bottom-color: $color-primary;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

.show {
  opacity: 1;
  z-index: 999;
}
.hide {
  opacity: 0;
  transition: opacity 400ms;
  z-index: 1;
}
