.nav {
  font-size: 2rem;
  color: $color-2;
  padding: 2rem 6rem;
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;

  grid-column: full-start/full-end;

  transition: all 0.5s;

  &__logo {
    font-size: 2rem;
    cursor: pointer;
  }

  &__list {
    list-style: none;

    display: flex;

    @media only screen and (max-width: 37.5em) {
      //600
      display: none;
    }
  }

  // &__item {
  // }

  &__link {
    text-decoration: none;
    color: inherit;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      color: $color-white;
    }
  }

  //from codepen
  //   position: relative;

  //   // &::before {
  //   //   transform: scaleX(0);
  //   //   transform-origin: bottom right;
  //   // }

  //   &:hover::before {
  //     transform: scaleX(1);
  //     transform-origin: bottom left;
  //   }

  //   &::before {
  //     content: ' ';
  //     display: block;
  //     position: absolute;
  //     top: 0;
  //     right: 0;
  //     bottom: 0;
  //     left: 0;
  //     // inset: 0 0 0 0;
  //     background: rgba($color-5, 0.6);
  //     z-index: -1;

  //     transform: scaleX(0);
  //     transform-origin: bottom right;

  //     transition: transform 0.3s ease;
  //   }
  // }

  &__background {
    background-color: $color-primary;
  }
}
